<!-- File: about.component.html -->
<!-- Author: Laurel Condon -->
<!-- Date: 10/29/23 -->
<!-- Description: HTML about component for composer app-->

<p>Frédéric Chopin (1810-1849) was a Polish composer and virtuoso pianist of the Romantic era. Known for his expressive and emotional compositions, Chopin's works for the piano, such as Nocturnes and Études, remain some of the most beloved in the classical music canon. His music is characterized by its lyricism and imaginative harmonic progressions. Chopin's profound influence on the Romantic period and piano composition is immeasurable.</p>

<figure font="10pt">
  <img src="assets/chopin-image.jpg" alt="Frédéric Chopin" width="200px">
  <figcaption>Image source: https://www.istockphoto.com/vector/portrait-of-frederic-chopin-frernch-composer-1810-1849-gm1045925696-279877188</figcaption>
</figure>

