<div fxLayout="row-wrap">

  <div fxFlex>

    <mat-card>
      <mat-card-title class="card-title-icon">
        <mat-icon color="primary">navigation</mat-icon>
      </mat-card-title>

      <br />

      <mat-card-content class="align-center">
        <p>
          123 Book Ave
        </p>
       <p>
        Reading, Pennsylvania
       </p>
      </mat-card-content>
    </mat-card>
  </div>

  <div fxFlex>
    <mat-card>
      <mat-card-title class="card-title-icon">
        <mat-icon color="primary">phone</mat-icon>
      </mat-card-title>
      <br />
      <mat-card-content>
        <p>
          Direct: 308-765-9498
        </p>
        <p>
          Toll Free: 1-800-756-8967
        </p>
      </mat-card-content>
    </mat-card>
  </div>
</div>

<br /> <br /><br /><br />
<div fxLayout="colum">
  <p style="text-align: center">
  Visit us Online or at one of our many locations!
</p>
</div>
