<!-- File: app.component.html -->
<!-- Author: Laurel Condon -->
<!-- Date: 10/29/23 -->
<!-- Description: HTML component for composer app-->


<div class="container">
<div>
  <h2>Contact Information</h2>
  <div class="row">
    <div class="col-md-6">
      <h4><i class="bi bi-geo-alt"></i> Street Address:</h4>
      <p>123 Main Street</p>
      <p>Podunk, Nebraska 69101</p>
    </div>
    <div class="col-md-6">
      <h4><i class="bi bi-telephone"></i> Phone Number:</h4>
      <p>(123)456-7890</p>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <h4><i class="bi bi-envelope"></i> Email Address:</h4>
      <p><a href="mailto:chopin.email@composer.com">chopin.email@composer.com</a></p>
    </div>
  </div>
</div>
