<!-- File: app.component.html -->
<!-- Name: Laurel Condon -->
<!-- Date: 10/29/23 -->
<!-- Description: HTML file for composer app -->


<nav class="navbar navbar-expand navbar-light bg-light">

  <ul class="navbar-nav">
    <li class="nav-item">
      <a class="nav-link" routerLink="/composer-list">Composer List</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/about">About</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/contact">Contact Us</a>
    </li>
  </ul>
</nav>

<div class="container">
<br />

<router-outlet></router-outlet>
</div>