<!-- Title: about.component.html  -->
<!-- Name: Laurel Condon -->
<!-- Date: 16 Nov 2023  -->
<!-- Description: about component HTML -->

<!-- about.component.html -->
<div fxLayout="row wrap">

  <!-- Column for the author image -->
  <div fxFlex>
    <div fxLayout="column">
      <div>
    <img src="assets/collen.img" width="300px" />
    </div>
    <div>
    <em>
      Photo by Chad Griffin on <a class="attribution-link" href="https://www.kirkusreviews.com/news-and-features/articles/colleen-hoover-it-starts-with-us-interview/"></a>
      </em>
  </div>
  </div>
  </div>

  <!-- Column for the book description -->
  <div fxFlex>
    <h1 class="blue">About Colleen Hoover</h1>
    <p class="bio">
      Colleen Hoover, a contemporary romance novelist, captivates readers with emotionally charged storytelling. Born on December 11, 1979,
      in Sulphur Springs, Texas, Hoover's literary journey began with her debut novel, "Slammed." Her works, including bestsellers like "Hopeless"
      and "It Ends with Us," explore themes of love, resilience, and personal growth. Hoover's ability to delve into complex characters and
      navigate poignant narratives has garnered her widespread acclaim. With numerous accolades and a dedicated fan base, Colleen Hoover continues
      to make a profound impact on the literary world, touching hearts and sparking important conversations through her compelling storytelling.

    </p>
  </div>
</div>
